@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
    background-color: #333;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1516724562728-afc824a36e84?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80');
    background-size: 300px;


}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    /*padding: 20px 0;*/
}

.logo h1 {
    font-family: 'Alfa Slab One', cursive;
    color: #d2d2d2;
    text-shadow: 7px 9px 2px #333;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 1px;
}


.container {
    width: 100%;
    display: flex;
    padding: 0 20px
}

.slide {
    height: 70vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #e607fa;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s ease-in-out;
    overflow: hidden;

}

.slide h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-size: 77px;
    opacity: 0;
    font-weight: 900;
    text-shadow: 7px 5px 5px #111;
    font-family: 'Dancing Script', cursive;
}

.slide.active {
    flex: 10;
    justify-content: center;
    align-items: center;

}

.slide.active h3 {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}
@media screen and (max-width: 575px) {
    .logo {
        margin: 0 auto;
        max-width: 400px;
        padding: 0;
    }
    .logo h1 {
        font-size: 45px;
        text-align: center;
        padding: 0;
    }
    .slide {
        height: 50vh;
        flex:1
    }
    .slide.active{
        flex: 20;
    }
    .slide h3 {
        font-size: 60px;
        bottom: 15px;
        left: 15px
    }

}